<html>
{% load static %}
 <head>
  <title>Signup</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'links/bootstrap.min.css' %}">
    <script src="{% static 'links/jquery.min.js' %}"></script>
    <script src="{% static 'links/bootstrap.min.js' %}"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="validator.js"></script>
    <script src="contact.js"></script>
 </head>
<style>
  form{
  margin-left:30%;
  padding:5px;
  }
  h1{
  margin-left:30%;
  }
  .hero-image{
  margin-top:0;
  background-image: url("{% static 'css/sky.jpg' %}");
    opacity:.9;
  height:800px;
  background-position: center;
  background-size: cover;
  position: relative;
}

footer{
  margin-top:0px;text-align:center;background-color:#505050;color:black;
}
 </style>
 <body>
 <div class="hero-image">
 <nav class="navbar navbar-inverse" style="font-family:Arial;">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/homepage"><b>Blogging</b></a>
    </div>
    <form class="navbar-form navbar-right" action="#" >
      <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
      <input type="submit" class="btn btn-default" >
      </div>
    </form>
      <ul class="nav navbar-nav" style="float:right;font-size:18px;">
        <li><a href="/login" target="_blank"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
          <li><a href="/signup" target="_blank"><span class="glyphicon glyphicon-user"></span>&nbsp; Sign up</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-info-sign"></span> &nbsp;About Us</a></li>
    </ul>
  </div>
</nav>
 <h1>Sign up </h1>
 <form method="POST" action="/sign_up" style="font-size:16px;">
     {%csrf_token%}
  <input type="text" placeholder="Enter Your Name" name="name"/><br>
  <br>
  <input type="text" placeholder="Enter Your Email" name="email"/><br>
  <br>
  <input type="password" placeholder="Enter Your Password" name="pass"/><br>
  <br>
  <input type="password" placeholder="Confirm Password" name="cpass"/><br>
  <br>
     <label> Gender: &nbsp;&nbsp;</label>
  <label> Male</label>
  <input type="radio" name="gender" value="Male">
  <label> Female</label>
  <input type="radio" name="gender" value="Female"><br>
  <br>
  <label>Birthday:</label>
  <input type="date" name="birthday"><br>
  <br>
  <br>
  <div class="form-group">
      <div class="g-recaptcha" data-sitekey="6LfKURIUAAAAAO50vlwWZkyK_G2ywqE52NU7YO0S" data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback"></div>
      <div class="help-block with-errors"></div>
  </div>
  <input type="submit" value="Submit"/><br>
  </form>
 </div>
<footer class="container-fluid">
  <p>Terms and Condition</p>
  <p>Copyright &copy; since,2017, Blogging</p>
</footer>
 </body>
</html>
